label.error{
    color:red;
}

.errorblock{
    text-align: center;
    background-color: red;
    border: red 1px solid;
    margin:5px;
    padding:5px;
    color:white;
}

.successblock{
    text-align: center;
    color: green;
    background-color: lightgreen;
    border: green 1px solid;
    margin:5px;
    padding:5px;
}
.comments_status_area{
    margin-top: 10px;
}
.comments_status_area .user-block .username{
    margin-left: 0px;
}